@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  color: #424242;
  font-family: "KoHo", sans-serif;
}

html .content-Login-admin-estimate, body .content-Login-admin-estimate {
  margin: 0;
  height: 100vh;
  width: 100%;
  position: relative;
}
html .box-info-login, body .box-info-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
html .header-title-login, body .header-title-login {
  text-align: center;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .box-form-login, body .box-form-login {
  height: 80%;
  justify-content: center;
  align-items: center;
}
html .form-login-boxContent, body .form-login-boxContent {
  justify-content: center;
  text-align: center;
  align-items: center;
}
html .box-info-formLogin, body .box-info-formLogin {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .box-info-formLogin span, body .box-info-formLogin span {
  padding-right: 20px;
}
html .box-info-formLogin input, body .box-info-formLogin input {
  width: 50%;
  height: 25px;
  border: 1px solid #424242;
  border-radius: 5px;
  font-size: 20px;
}
html .btn-submit, body .btn-submit {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #424242;
}
html .btn-submit:hover, body .btn-submit:hover {
  background-color: #424242;
  color: #fefefe;
}
html .inputPassword, body .inputPassword {
  width: 50%;
  height: auto;
  position: relative;
}
html .inputPassword input, body .inputPassword input {
  width: 100%;
  height: 25px;
  border: 1px solid #424242;
  border-radius: 5px;
}
html .btn-eye-password, html .btn-eye-text, body .btn-eye-password, body .btn-eye-text {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 7%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1px;
  border: none;
  display: flex;
}
html .btn-eye-text, body .btn-eye-text {
  display: none;
}
html .body-content-navigatepage, body .body-content-navigatepage {
  margin: 0;
  height: 100vh;
  width: 100%;
}
html .box-content-navigatepage, body .box-content-navigatepage {
  height: 100%;
  width: 100%;
  position: relative;
}
html .header-navigatepage, body .header-navigatepage {
  height: 5vh;
  width: 100%;
  background-color: #607d8b;
  position: absolute;
  top: 0;
  border-bottom: 2px solid #546e7a;
  display: grid;
  grid-template-columns: 50% 50%;
}
html .header-navigatepage-col-1, body .header-navigatepage-col-1 {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #607d8b;
}
html .header-navigatepage-col-2, body .header-navigatepage-col-2 {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 10px;
  background-color: #607d8b;
}
html .header-navigatepage span, body .header-navigatepage span {
  background-color: #607d8b;
  color: #fefefe;
  font-size: 22px;
}
html .btn-header-menuBar, body .btn-header-menuBar {
  border: none;
  width: auto;
  background-color: #607d8b;
  display: none;
  width: 30%;
}
html .bi-x, body .bi-x {
  display: none;
}
html .btn-header-menuBar i, body .btn-header-menuBar i {
  background: none;
  color: #cfd8dc;
}
html .menu-navigatepage, body .menu-navigatepage {
  height: 95vh;
  width: 10%;
  background-color: #607d8b;
  color: #fefefe;
  margin: 0;
  position: absolute;
  left: 0;
  top: 5vh;
  border-right: 2px solid #546e7a;
}
html .btn-menu-navigatepage, body .btn-menu-navigatepage {
  margin: 10px auto;
  width: 90%;
  height: 5%;
  border-bottom: 3px solid #e0e0e0;
}
html .navigatMenuBTN, body .navigatMenuBTN {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #607d8b;
  color: #fefefe;
}
html .btn-menu-navigatepage button:hover, body .btn-menu-navigatepage button:hover {
  border: 5px solid #546e7a;
  background-color: #37474f;
  color: #b0bec5;
}
html .holdBTNmenuNavigatepage, body .holdBTNmenuNavigatepage {
  border: 5px solid #546e7a;
  background-color: #37474f;
  color: #b0bec5;
}
html .show-content-box, body .show-content-box {
  height: 95vh;
  width: 90%;
  position: absolute;
  right: 0;
  bottom: 0;
}
html .body-mainDefault, body .body-mainDefault {
  height: 100%;
  width: 100%;
}
html .header-mainDefault, body .header-mainDefault {
  height: 10%;
  width: 100%;
  background-color: #f5f5f5;
  color: #424242;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 20px;
  font-size: 10px;
}
@media only screen and (max-width: 1024px) {
  html .menu-navigatepage, body .menu-navigatepage {
    width: 15%;
  }
  html .show-content-box, body .show-content-box {
    width: 85%;
  }
  html .header-navigatepage span, body .header-navigatepage span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 720px) {
  html .menu-navigatepage, body .menu-navigatepage {
    display: none;
  }
  html .show-content-box, body .show-content-box {
    width: 100%;
    height: 94%;
  }
  html .header-navigatepage, body .header-navigatepage {
    height: 5%;
  }
  html .header-navigatepage span, body .header-navigatepage span {
    font-size: 12px;
  }
  html .btn-header-menuBar, body .btn-header-menuBar {
    display: block;
  }
}
html .body-content-ctStudent, body .body-content-ctStudent {
  height: 100%;
  width: 100%;
  margin: 0;
  display: block;
  position: relative;
}
html .header-show-contentStudent, body .header-show-contentStudent {
  height: 35px;
  width: 95%;
  margin: auto;
  position: relative;
  top: 1%;
  left: 0;
  align-items: center;
  background-color: #e0e0e0;
}
html .text-header, body .text-header {
  width: 5%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  background-color: #e0e0e0;
  padding: 0 10px;
  font-weight: bold;
  font-size: 13px;
}
html .menu-search, body .menu-search {
  width: 80%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #e0e0e0;
}
html .box-menu-1, body .box-menu-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #e0e0e0;
}
html .box-menu-1 span, body .box-menu-1 span {
  align-self: center;
  padding-right: 10px;
  background-color: #e0e0e0;
  font-weight: bold;
}
html .box-menu-1 input, body .box-menu-1 input {
  height: 100%;
  width: 50%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
html .relative-btnBox, body .relative-btnBox {
  position: relative;
}
html .up-btn, body .up-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 25px;
  font-size: 8px;
  font-weight: bold;
}
html .down-btn, body .down-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 25px;
  font-size: 8px;
  font-weight: bold;
}
html .box-menu-2, body .box-menu-2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}
html .box-menu-2 span, body .box-menu-2 span {
  padding-right: 10px;
  background-color: #e0e0e0;
  font-weight: bold;
}
html .box-menu-2 input, body .box-menu-2 input {
  height: 100%;
  width: 50%;
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
}
html .box-menu-2 button, body .box-menu-2 button {
  height: 100%;
  width: 35px;
}
html .menu-close, body .menu-close {
  width: 5%;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #e0e0e0;
}
html .menu-close button, body .menu-close button {
  width: 70%;
  height: 100%;
  font-weight: bold;
}
html .info-show-contentStudent, body .info-show-contentStudent {
  width: 85%;
  height: 60%;
  margin: auto;
  position: absolute;
  top: 12%;
  left: 5%;
  scroll-snap-type: mandatory x;
  overflow-x: auto;
  background-color: #cfd8dc;
}
html .menu-content-ctStudent, body .menu-content-ctStudent {
  height: 80%;
  width: 6%;
  position: absolute;
  top: 12%;
  right: 2%;
  background-color: #eeeeee;
}
html .menu-content-ctStudent .btn-add-contentStudent, html .menu-content-ctStudent .btn-del-contentStudent, body .menu-content-ctStudent .btn-add-contentStudent, body .menu-content-ctStudent .btn-del-contentStudent {
  display: flex;
  justify-content: center;
  margin: 5px auto;
}
html .btnAddStudent, html .btnDelStudent, body .btnAddStudent, body .btnDelStudent {
  width: 80%;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  background-color: #607d8b;
  color: #fefefe;
  border: none;
}
html .btnAddStudent:active, html .btnDelStudent:active, body .btnAddStudent:active, body .btnDelStudent:active {
  border: 5px solid #546e7a;
  background-color: #37474f;
}
html .footer-show-contentStudent, body .footer-show-contentStudent {
  width: 85%;
  height: auto;
  max-height: 25%;
  margin: auto;
  position: absolute;
  top: 75%;
  left: 5%;
  background-color: #e0e0e0;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  font-size: 20px;
}
html .footer-col, body .footer-col {
  background: none;
}
html .box-incol, html .box-text-incol, body .box-incol, body .box-text-incol {
  width: 100%;
  height: 50%;
  margin: auto;
  background: none;
  text-align: center;
  position: relative;
  padding-top: 5px;
}
html .box-text-incol, body .box-text-incol {
  width: 100%;
  height: 100%;
}
html .textheader, html .textbottom, body .textheader, body .textbottom {
  background: none;
  font-weight: bold;
}
html .textbottom, body .textbottom {
  font-weight: lighter;
  color: #0d5302;
}
html .input-incol, body .input-incol {
  width: 40px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #ddd;
}
html .input-incol::-webkit-outer-spin-button, html .input-incol::-webkit-inner-spin-button, body .input-incol::-webkit-outer-spin-button, body .input-incol::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
html .btn-save-footer, body .btn-save-footer {
  height: 80%;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
}
@media only screen and (max-width: 1024px) {
  html .info-show-contentStudent, html .footer-show-contentStudent, body .info-show-contentStudent, body .footer-show-contentStudent {
    left: 5%;
    width: 80%;
  }
  html .menu-content-ctStudent, body .menu-content-ctStudent {
    width: 10%;
  }
  html .text-header, html .menu-close, body .text-header, body .menu-close {
    width: 10%;
    font-size: 12px;
    padding: 0;
  }
  html .menu-close button, body .menu-close button {
    width: 100%;
  }
  html .footer-show-contentStudent, body .footer-show-contentStudent {
    font-size: 13px;
  }
}
@media only screen and (max-width: 720px) {
  html .box-menu-1 input, body .box-menu-1 input {
    font-size: 14px;
    text-align: start;
  }
  html .footer-show-contentStudent, body .footer-show-contentStudent {
    font-size: 11px;
  }
  html .btn-save-footer, body .btn-save-footer {
    width: 80%;
    height: 80%;
    font-size: 13px;
    text-align: center;
  }
  html .btnAddStudent, html .btnDelStudent, body .btnAddStudent, body .btnDelStudent {
    width: 80%;
    height: 50px;
    font-size: 8px;
    font-weight: bold;
  }
}
html .body-content-ctDoctor, body .body-content-ctDoctor {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
html .nav-content-ctDoctor, body .nav-content-ctDoctor {
  height: 5%;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 18% 75% 8%;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #e0e0e0;
}
html .box-nav-content, body .box-nav-content {
  display: flex;
  align-items: center;
}
html .nav-box-search, body .nav-box-search {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
html .input-navDoctor-search, body .input-navDoctor-search {
  width: 25%;
  height: 60%;
  margin-left: 10px;
}
html .btn-navDoctor-search, body .btn-navDoctor-search {
  width: 7%;
  height: 60%;
}
html .btn-close-ctDoctor, body .btn-close-ctDoctor {
  width: 80%;
  height: 80%;
  display: block;
  margin-right: auto;
  font-weight: bold;
}
html .content-ctDoctor, body .content-ctDoctor {
  border: 2px solid green;
  height: 95%;
  display: grid;
  grid-template-columns: 90% 10%;
}
html .content-table, body .content-table {
  border: 1px solid red;
  scroll-snap-type: mandatory;
  overflow: auto;
}
html .content-menu, body .content-menu {
  border: 1px solid rebeccapurple;
  display: flex;
  position: relative;
}
html .box-menu-contentDoctor, body .box-menu-contentDoctor {
  display: block;
  width: 95%;
  height: 100%;
  margin: auto;
  background-color: #e0e0e0;
}
html .content-menu-btn, body .content-menu-btn {
  display: block;
  width: 90%;
  height: 5%;
  margin: 5px auto;
  font-size: 16px;
  font-weight: bold;
}
html .header-inboxModal, body .header-inboxModal {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #ffb74d;
}
html .header-inboxModal span, body .header-inboxModal span {
  font-size: 16px;
  font-weight: bold;
  color: #fff3e0;
}
html .body-content-inboxModal, body .body-content-inboxModal {
  height: 350px;
  width: 100%;
  display: block;
  padding: 0 20px;
}
html .form-contentInboxModal, body .form-contentInboxModal {
  display: block;
}
html .box-input-contentInboxModal, body .box-input-contentInboxModal {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}
html .box-input-contentInboxModal span, body .box-input-contentInboxModal span {
  font-size: 14px;
  font-weight: bold;
  padding: 0px 15px;
  width: 120px;
}
html .box-input-contentInboxModal input, body .box-input-contentInboxModal input {
  width: 80%;
  height: 25px;
  border: 1px solid #9e9e9e;
}
html .contentboxInput-InboxModal, body .contentboxInput-InboxModal {
  width: 100%;
  width: 50%;
  position: static;
}
html .relativeBox-drop, body .relativeBox-drop {
  position: relative;
}
html .dropDown-ttl-contentInboxModal, body .dropDown-ttl-contentInboxModal {
  display: none;
  border: 1px solid #9e9e9e;
  width: 80%;
  height: 150px;
  scroll-snap-type: mandatory;
  overflow: auto;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #ffffff;
}
html .infoTtl-dropdown-contentInboxModal, body .infoTtl-dropdown-contentInboxModal {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 2px 0;
  border-bottom: 5px solid #eeeeee;
}
html .infoTtl-dropdown-contentInboxModal:hover, body .infoTtl-dropdown-contentInboxModal:hover {
  background-color: #e0e0e0;
}
html .radio-btn-InboxModal, body .radio-btn-InboxModal {
  border: 1px solid #9e9e9e;
  display: flex;
  align-items: center;
  width: 80%;
}
html .radio-btn-InboxModal input, body .radio-btn-InboxModal input {
  width: 30px;
  height: 16px;
  margin: 5px 0;
}
html .radio-btn-InboxModal span, body .radio-btn-InboxModal span {
  padding: 0;
  width: auto;
}
html .relativeBox-PIN, body .relativeBox-PIN {
  display: flex;
}
html .btn-eyes-showtext-hide, html .btn-eyes-showtext-show, body .btn-eyes-showtext-hide, body .btn-eyes-showtext-show {
  border: 1px solid #9e9e9e;
}
html .btn-eyes-showtext-hide:hover, html .btn-eyes-showtext-show:hover, body .btn-eyes-showtext-hide:hover, body .btn-eyes-showtext-show:hover {
  background-color: #e0e0e0;
}
html .btn-eyes-showtext-show, body .btn-eyes-showtext-show {
  display: none;
}
html .btnSubmit-boxContentInboxModal, body .btnSubmit-boxContentInboxModal {
  margin: 15px auto;
}
html .btnSubmit-boxContentInboxModal button, body .btnSubmit-boxContentInboxModal button {
  height: 35px;
  width: 100px;
  font-size: 18px;
}
@media only screen and (max-width: 720px) {
  html .nav-content-ctDoctor, body .nav-content-ctDoctor {
    height: 10%;
    display: grid;
    grid-template-columns: 20% 65% 15%;
    padding: 0 10px;
    font-size: 11px;
    font-weight: bold;
  }
  html .input-navDoctor-search, body .input-navDoctor-search {
    width: 55%;
    height: 60%;
    margin-left: 10px;
  }
  html .btn-navDoctor-search, body .btn-navDoctor-search {
    width: 15%;
    height: 60%;
    font-size: 11px;
  }
  html .content-ctDoctor, body .content-ctDoctor {
    height: 90%;
  }
  html .content-menu-btn, body .content-menu-btn {
    display: block;
    width: 90%;
    height: 5%;
    margin: 5px auto;
    font-size: 11px;
    font-weight: bold;
  }
  html .content-menu-btn, body .content-menu-btn {
    height: 10%;
  }
  html .body-content-inboxModal, body .body-content-inboxModal {
    height: 250px;
  }
  html .dropDown-ttl-contentInboxModal, body .dropDown-ttl-contentInboxModal {
    height: 100px;
  }
}
@media only screen and (max-width: 740px) {
  html .body-content-inboxModal, body .body-content-inboxModal {
    scroll-snap-type: mandatory;
    overflow: auto;
  }
}
@media only screen and (max-width: 360px) {
  html .nav-content-ctDoctor, body .nav-content-ctDoctor {
    height: 5%;
  }
  html .content-ctDoctor, body .content-ctDoctor {
    height: 95%;
  }
  html .content-menu-btn, body .content-menu-btn {
    height: 7%;
  }
  html .body-content-inboxModal, body .body-content-inboxModal {
    height: 320px;
  }
}
html .body-content-groupStudent, body .body-content-groupStudent {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
html .hander-content-groupStudent, body .hander-content-groupStudent {
  height: 5%;
  display: grid;
  grid-template-columns: 20% 30% 40% 10%;
  background-color: #e0e0e0;
}
html .col-header, body .col-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
html .input-year-groupStudent, html .input-search-groupStudent, body .input-year-groupStudent, body .input-search-groupStudent {
  width: 30%;
}
html .relative-btnBox, body .relative-btnBox {
  height: 25px;
}
html .yearControllup, body .yearControllup {
  font-size: 8px;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
html .yearControlldown, body .yearControlldown {
  font-size: 8px;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}
html .btn-close-groupStudent, body .btn-close-groupStudent {
  height: 85%;
  width: 80%;
}
html .content-groupStudent, body .content-groupStudent {
  height: 95%;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 50% 10%;
  background-color: #fefefe;
}
html .table-box-groupStudent, body .table-box-groupStudent {
  height: 95%;
  width: 95%;
  display: block;
  margin: auto;
  scroll-snap-type: mandatory;
  overflow: auto;
  border-right: 3px solid #9e9e9e;
}
html .box-controll-student, body .box-controll-student {
  height: 95%;
  width: 95%;
  display: block;
  margin: auto;
  border-right: 3px solid #9e9e9e;
}
html .row-table-controll-student, body .row-table-controll-student {
  scroll-snap-type: mandatory;
  overflow: auto;
  height: 30%;
}
html .btnAddDel-controll-student, body .btnAddDel-controll-student {
  display: flex;
  height: 5%;
  justify-content: end;
  padding: 0 15px;
  margin: 2%;
}
html .btnAdd-inControllStudent, html .btnDel-incontrollStudent, body .btnAdd-inControllStudent, body .btnDel-incontrollStudent {
  width: 40%;
  height: 100%;
  margin: 0 1%;
}
html .box-doctorInput-ControllStudent, body .box-doctorInput-ControllStudent {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 80% 20%;
}
html .box-doctorInput-ControllStudent span, body .box-doctorInput-ControllStudent span {
  margin-right: 3px;
}
html .input-doctorText, body .input-doctorText {
  width: 50%;
}
html .row-input-doctorInputControllStudent, body .row-input-doctorInputControllStudent {
  margin-bottom: 10px;
  display: flex;
}
html .boxInRowInputControllStudent, body .boxInRowInputControllStudent {
  display: flex;
  padding: 0 5px;
}
html .input-meq-ControllStudent, body .input-meq-ControllStudent {
  width: 35%;
}
html .btn-submit-groupStudent, body .btn-submit-groupStudent {
  width: 95%;
  height: 75%;
  display: block;
  margin: 5px auto;
}
html .box-menu-groupStudent, body .box-menu-groupStudent {
  border: 2px solid #9e9e9e;
  height: 95%;
  width: 95%;
  display: block;
  margin: auto;
  scroll-snap-type: mandatory;
  overflow: auto;
  background-color: #e0e0e0;
}
html .btn-menu-boxGroupStudent, body .btn-menu-boxGroupStudent {
  margin: 5px 0;
  width: 100%;
  height: 5%;
}
html .btn-menu-boxGroupStudent button, body .btn-menu-boxGroupStudent button {
  width: 90%;
  height: 100%;
  display: block;
  margin: auto;
}
html .box-btnmodal-adding, body .box-btnmodal-adding {
  width: 100%;
  height: 10%;
  margin: 2px;
  display: block;
}
html .btn-addingModal-addAdvisor, html .btn-addingModal-savegroup, body .btn-addingModal-addAdvisor, body .btn-addingModal-savegroup {
  width: 90%;
  height: 25px;
  display: none;
  margin: auto;
}
html .body-content-addDoctorMEQ, body .body-content-addDoctorMEQ {
  width: 100%;
  height: 150px;
  padding: 15px 0;
}
html .formInfo-addDoctorMEQ, body .formInfo-addDoctorMEQ {
  display: block;
  text-align: center;
}
html .boxRow-addDoctorMEQ, body .boxRow-addDoctorMEQ {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 15px 0;
}
html .boxRow-adddoctorMEQ-drop, body .boxRow-adddoctorMEQ-drop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
}
html .dropDown-info-adddoctorMEQ, body .dropDown-info-adddoctorMEQ {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  width: 150px;
  height: 100px;
  border: 1px solid rebeccapurple;
  background-color: #fefefe;
}
html .dropDown-info-adddoctorMEQ div, body .dropDown-info-adddoctorMEQ div {
  text-align: start;
  padding: 5px;
}
html .dropDown-info-adddoctorMEQ div:hover, body .dropDown-info-adddoctorMEQ div:hover {
  background-color: #ddd;
}
html .input-textadvisor-addDoctorMEQ, html .input-textMEQ-addDoctorMEQ, body .input-textadvisor-addDoctorMEQ, body .input-textMEQ-addDoctorMEQ {
  width: 150px;
  height: 25px;
  border: 1px solid #9e9e9e;
}
html .input-textMEQ-addDoctorMEQ, body .input-textMEQ-addDoctorMEQ {
  width: 50px;
}
html .boxRow-addDoctorMEQ span, body .boxRow-addDoctorMEQ span {
  margin: 0 5px;
}
html .boxRow-addDoctorMEQ button, body .boxRow-addDoctorMEQ button {
  width: 25px;
  height: 25px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  border: 1px solid #9e9e9e;
}
html .btn-save-addDoctorMEQ, body .btn-save-addDoctorMEQ {
  width: 35%;
}
@media only screen and (max-width: 1024px) {
  html .row-input-doctorInputControllStudent, body .row-input-doctorInputControllStudent {
    display: block;
  }
  html .boxInRowInputControllStudent, body .boxInRowInputControllStudent {
    padding: 5px;
  }
}
@media only screen and (max-width: 740px) {
  html .hander-content-groupStudent, body .hander-content-groupStudent {
    height: 10%;
    font-size: 13px;
  }
  html .input-year-groupStudent, html .input-search-groupStudent, body .input-year-groupStudent, body .input-search-groupStudent {
    width: 50%;
  }
  html .box-col-year, body .box-col-year {
    justify-content: start;
    padding-left: 5px;
  }
  html .content-groupStudent, body .content-groupStudent {
    height: 90%;
  }
  html .btnAddDel-controll-student, body .btnAddDel-controll-student {
    height: 7%;
  }
  html .btnAdd-inControllStudent, html .btnDel-incontrollStudent, body .btnAdd-inControllStudent, body .btnDel-incontrollStudent {
    width: 50%;
    font-size: 11px;
  }
  html .box-doctorInput-ControllStudent, body .box-doctorInput-ControllStudent {
    display: none;
  }
  html .btn-menu-boxGroupStudent, body .btn-menu-boxGroupStudent {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html .btn-menu-boxGroupStudent button, body .btn-menu-boxGroupStudent button {
    width: 100%;
    font-size: 11px;
    font-weight: bold;
  }
  html .btn-addingModal-addAdvisor, body .btn-addingModal-addAdvisor {
    display: block;
  }
}
html .body-contentwork, body .body-contentwork {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html .header-contentwork, body .header-contentwork {
  height: 5%;
  width: 100%;
  display: flex;
  background-color: #e0e0e0;
}
html .box-textheader-contentwork, body .box-textheader-contentwork {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
html .btn-menu-filter, html .close-btn-menu-filter, body .btn-menu-filter, body .close-btn-menu-filter {
  display: none;
  margin-left: 5px;
  background-color: #b0bec5;
  border: 1px solid #9e9e9e;
}
html .i-btn-filter, body .i-btn-filter {
  color: #fefefe;
}
html .box-btnclosebody-contentwork, body .box-btnclosebody-contentwork {
  display: flex;
  align-items: center;
  width: 10%;
  height: 100%;
  padding: 0 5px;
}
html .btn-closebody-contentwork, body .btn-closebody-contentwork {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .menu-nav-contentwork, body .menu-nav-contentwork {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 5%;
  margin: 10px 0px;
}
html .contentwork-year, body .contentwork-year {
  width: 15%;
  height: 100%;
  display: flex;
  position: relative;
  margin: 0 5px;
}
html .box-buttonUPDOWN, body .box-buttonUPDOWN {
  display: block;
  position: relative;
  width: 19%;
}
html .contentwork-year span, body .contentwork-year span {
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
}
html .input-year-contentwork, body .input-year-contentwork {
  border: 1px solid #9e9e9e;
  width: 100%;
  height: 100%;
}
html .input-year-contentwork::-webkit-outer-spin-button, html .input-year-contentwork::-webkit-inner-spin-button, body .input-year-contentwork::-webkit-outer-spin-button, body .input-year-contentwork::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
html .this-up-year, body .this-up-year {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 8px;
}
html .this-down-year, body .this-down-year {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 8px;
}
html .contentwork-month, body .contentwork-month {
  height: 100%;
  width: 20%;
  display: grid;
  grid-template-columns: 35% 65%;
}
html .contentwork-month span, body .contentwork-month span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-style: 13;
  font-weight: bold;
}
html .dropDownBox-monthContentwork, html .dropDownBox-groupContentwork, body .dropDownBox-monthContentwork, body .dropDownBox-groupContentwork {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
html .input-month-contentwork, body .input-month-contentwork {
  width: 100%;
  height: 100%;
  border: 1px solid #9e9e9e;
}
html .this-month-drop, body .this-month-drop {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .dropinfo-Contentwork, body .dropinfo-Contentwork {
  display: none;
  width: 100%;
  height: 150px;
  border: 1px solid #9e9e9e;
  background-color: #ffffff;
  position: absolute;
  top: 30px;
  right: 0;
  scroll-snap-type: mandatory;
  overflow: auto;
}
html .dropinfo-Contentwork-nav, body .dropinfo-Contentwork-nav {
  display: none;
  width: 100%;
  height: 150px;
  border: 1px solid #9e9e9e;
  background-color: #ffffff;
  position: absolute;
  top: 21px;
  right: 0;
  scroll-snap-type: mandatory;
  overflow: auto;
}
html .lineMonthDropinfo-contentwork, body .lineMonthDropinfo-contentwork {
  padding: 5px;
  width: 100%;
  height: auto;
}
html .lineMonthDropinfo-contentwork:hover, body .lineMonthDropinfo-contentwork:hover {
  background-color: #e0e0e0;
}
html .contentwork-group, body .contentwork-group {
  height: 100%;
  width: 20%;
  display: grid;
  grid-template-columns: 35% 65%;
  margin-left: 10px;
}
html .contentwork-group span, body .contentwork-group span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  font-size: 13px;
  font-weight: bold;
  width: 100%;
  height: 100%;
}
html .input-group-contentwork, body .input-group-contentwork {
  width: 100%;
  height: 100%;
  border: 1px solid #9e9e9e;
}
html .this-group-drop, body .this-group-drop {
  display: flex;
  width: 5%;
  justify-content: center;
  align-items: center;
  border: 1px solid #9e9e9e;
}
html .contentwork-buttonAll, body .contentwork-buttonAll {
  height: 100%;
  width: 10%;
}
html .contentwork-buttonAll button, body .contentwork-buttonAll button {
  display: flex;
  font-size: 13px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
html .this-radiobtn-contentwork, body .this-radiobtn-contentwork {
  display: flex;
  border: 1px solid #9e9e9e;
  width: 300px;
  height: 100%;
  margin: 0 5px;
  justify-content: center;
  align-items: center;
}
html .row-radiobtn, body .row-radiobtn {
  display: flex;
  width: auto;
  padding: 2px;
  justify-content: center;
}
html .row-radiobtn span, body .row-radiobtn span {
  font-size: 12px;
  font-weight: bold;
}
html .boxcontent-contentwork, body .boxcontent-contentwork {
  width: 100%;
  height: 87%;
  display: grid;
  grid-template-columns: 90% 10%;
}
html .row-info-contentwork, body .row-info-contentwork {
  border: 1px solid rebeccapurple;
  width: 100%;
  height: 40%;
  display: grid;
  grid-template-columns: 50% 50%;
}
html .col-info-contentwork, body .col-info-contentwork {
  border: 1px solid black;
}
html .title-info-contentwork, body .title-info-contentwork {
  border: 2px solid black;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 100%;
  background-color: #607d8b;
}
html .title-info-contentwork span, body .title-info-contentwork span {
  color: #fefefe;
}
html .infoBoxcol-relative-contentwork, body .infoBoxcol-relative-contentwork {
  width: 100%;
  height: 92%;
  scroll-snap-type: mandatory;
  overflow: auto;
}
html .boxcontent-btnmenu-contentwork, body .boxcontent-btnmenu-contentwork {
  width: 100%;
  height: 5%;
  position: relative;
}
html .btn-menu-contentwork, body .btn-menu-contentwork {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html .title-header-contentwork, body .title-header-contentwork {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 15px;
  background-color: #e0e0e0;
}
html .body-modalbox-contentwork, body .body-modalbox-contentwork {
  width: 100%;
  height: 300px;
}
html .body-modalbox-contentwork span, body .body-modalbox-contentwork span {
  font-size: 13px;
  font-weight: bold;
}
html .rowinput-modalbox-contentwork, body .rowinput-modalbox-contentwork {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 25% 75%;
  margin: 5px auto;
}
html .positionRelativeBox, body .positionRelativeBox {
  position: relative;
}
html .boxgrid-modal-contentwork, body .boxgrid-modal-contentwork {
  display: flex;
  align-items: center;
  justify-content: start;
}
html .dropInfo-boxgrid-contentwork, body .dropInfo-boxgrid-contentwork {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 20px;
  left: 0;
  background-color: #fefefe;
  display: none;
  border: 1px solid red;
}
html .timegrid-modal-contentwork, body .timegrid-modal-contentwork {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 12%;
}
html .input-rowinput-modalboxContentwork, body .input-rowinput-modalboxContentwork {
  height: 100%;
  width: 100%;
  border: 1px solid #9e9e9e;
}
html .btn-rowinput-modalboxContentwork, body .btn-rowinput-modalboxContentwork {
  height: 100%;
  width: auto;
  border: 1px solid #9e9e9e;
}
html .boxinputtimeContentwork, body .boxinputtimeContentwork {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}
html .box-datetime-contentwork, body .box-datetime-contentwork {
  display: grid;
  grid-template-columns: 80% 20%;
}
html .col-datetimesubmit-contentwork, body .col-datetimesubmit-contentwork {
  display: flex;
  justify-content: center;
  align-items: center;
}
html .input-timeSTS, body .input-timeSTS {
  width: 50%;
  height: auto;
  display: block;
  font-size: 11px;
  text-align: center;
  border: 1px solid #9e9e9e;
}
html .input-timeSTS::-webkit-outer-spin-button, html .input-timeSTS::-webkit-inner-spin-button, body .input-timeSTS::-webkit-outer-spin-button, body .input-timeSTS::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
html .btn-confirm-modalContentwork, body .btn-confirm-modalContentwork {
  border: 1px solid #9e9e9e;
  height: 50%;
  width: 80%;
}
html .box-special-modalboxcontentwork, body .box-special-modalboxcontentwork {
  width: 100%;
  height: auto;
}
html .special-input-boxcontentwork, body .special-input-boxcontentwork {
  width: 80%;
  margin: 5px auto;
  display: grid;
  grid-template-columns: 25% 75%;
}
html .box-report-input, body .box-report-input {
  width: 80%;
  margin: 5px auto;
  display: grid;
  grid-template-columns: 25% 75%;
}
html .col-boxreport-input, body .col-boxreport-input {
  display: grid;
  grid-template-columns: 50% 50%;
}
html .inputradio-special-boxcontentwork, body .inputradio-special-boxcontentwork {
  display: flex;
  justify-content: start;
}
html .input-special-boxcontentwork, body .input-special-boxcontentwork {
  width: 100%;
  height: 100%;
}
html .grid-date-subcol, body .grid-date-subcol {
  display: grid;
  grid-template-columns: 50% 50%;
}
html .date-special-boxcontentwork, body .date-special-boxcontentwork {
  display: flex;
  align-items: center;
}
html .date-special-boxcontentwork input, body .date-special-boxcontentwork input {
  width: 100%;
  height: 100%;
}
html .input-special-boxcontentwork input, body .input-special-boxcontentwork input {
  width: 95%;
  height: 100%;
}
html .inputradio-special-boxcontentwork input, body .inputradio-special-boxcontentwork input {
  margin: 5px;
}
@media only screen and (max-width: 720px) {
  html .header-contentwork, body .header-contentwork {
    height: 10%;
  }
  html .menu-nav-contentwork, body .menu-nav-contentwork {
    height: 10%;
  }
  html .contentwork-year, body .contentwork-year {
    width: 25%;
    margin: 0;
  }
  html .contentwork-year span, body .contentwork-year span {
    font-size: 11px;
    width: auto;
  }
  html .input-year-contentwork, body .input-year-contentwork {
    width: 100%;
  }
  html .contentwork-month, body .contentwork-month {
    width: 30%;
  }
  html .contentwork-month span, body .contentwork-month span {
    font-size: 11px;
  }
  html .contentwork-group, body .contentwork-group {
    width: 30%;
  }
  html .contentwork-group span, body .contentwork-group span {
    font-size: 11px;
  }
  html .contentwork-buttonAll, body .contentwork-buttonAll {
    width: 20%;
  }
  html .contentwork-buttonAll button, body .contentwork-buttonAll button {
    font-size: 9px;
    font-weight: bold;
  }
  html .menu-nav-contentwork, body .menu-nav-contentwork {
    display: none;
  }
  html .btn-menu-filter, body .btn-menu-filter {
    display: block;
  }
  html .boxcontent-btnmenu-contentwork, body .boxcontent-btnmenu-contentwork {
    height: 10%;
  }
}
@media only screen and (max-width: 360px) {
  html .header-contentwork, body .header-contentwork {
    height: 5%;
  }
  html .menu-nav-contentwork, body .menu-nav-contentwork {
    height: 5%;
  }
  html .box-buttonUPDOWN, body .box-buttonUPDOWN {
    width: 60%;
  }
}
html .body-contentSetting, body .body-contentSetting {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
html .header-nav-contentSetting, body .header-nav-contentSetting {
  border: 1px solid red;
  height: 5%;
  width: 100%;
  display: grid;
  grid-template-columns: 90% 10%;
}
html .boxCol-navheader, body .boxCol-navheader {
  border: 1px solid green;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .btn-nav-menuclose, body .btn-nav-menuclose {
  display: none;
}
html .btn-boxHeader button, body .btn-boxHeader button {
  margin: 0 5px;
}
html .content-contentSetting, body .content-contentSetting {
  border: 1px solid blue;
  height: 95%;
  width: 100%;
}
html .box-table-type, body .box-table-type {
  height: 150px;
  width: 100%;
  border: 1px solid orange;
}
html .bodymodal-contentSetting, body .bodymodal-contentSetting {
  border: 1px solid red;
  width: 100%;
  height: auto;
}
html .rowbox-contentSetting, body .rowbox-contentSetting {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .btn-addreportDoc, body .btn-addreportDoc {
  height: 60%;
  width: 30%;
  margin: 0 5px;
}
@media only screen and (max-width: 720px) {
  html .header-nav-contentSetting, body .header-nav-contentSetting {
    height: 10%;
  }
  html .content-contentSetting, body .content-contentSetting {
    height: 90%;
  }
}
@media only screen and (max-width: 360px) {
  html .header-nav-contentSetting, body .header-nav-contentSetting {
    height: 5%;
  }
  html .content-contentSetting, body .content-contentSetting {
    height: 95%;
  }
}
html .modal-slideBar-body, body .modal-slideBar-body {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: none;
}
html .modal-slideBar-content, body .modal-slideBar-content {
  display: block;
  margin-right: 10px;
  height: 50%;
  width: 13.5%;
  margin-top: 29px;
  position: absolute;
  top: 0;
  right: 0;
  transition: height 0.75s;
}
@media only screen and (max-width: 720px) {
  @keyframes openSlideBar {
    from {
      height: 0;
    }
    to {
      height: 55%;
    }
  }
  @keyframes closeSlideBar {
    from {
      height: 55%;
    }
    to {
      height: 0;
    }
  }
  html .modal-slideBar-content, body .modal-slideBar-content {
    margin-top: 19px;
  }
}
@media only screen and (max-width: 360px) {
  @keyframes openSlideBar {
    from {
      height: 0;
    }
    to {
      height: 32%;
    }
  }
  @keyframes closeSlideBar {
    from {
      height: 32%;
    }
    to {
      height: 0;
    }
  }
  html .modal-slideBar-content, body .modal-slideBar-content {
    margin-top: 27px;
  }
}
html .modalSlideBar-content-menu, body .modalSlideBar-content-menu {
  height: 94%;
  width: 100%;
  background-color: #607d8b;
  border: 3px solid #546e7a;
}
html .modalSlideBar-content-menu button, body .modalSlideBar-content-menu button {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #424242;
  margin: 5px 0;
  font-size: 20px;
  border-bottom: 3px solid #424242;
  border-color: #424242;
  visibility: hidden;
}
html .modal-box, body .modal-box {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
html .modal-box-body, body .modal-box-body {
  width: 50%;
  height: auto;
  margin: auto;
  background-color: #eeeeee;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html .header-nav-modalBox, body .header-nav-modalBox {
  height: auto;
  width: 100%;
  background-color: #006064;
  display: grid;
  grid-template-columns: 90% 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
html .header-col, body .header-col {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .header-col span, body .header-col span {
  color: #fefefe;
  font-size: 18px;
  font-weight: bold;
}
html .btn-modalbox-close, body .btn-modalbox-close {
  width: auto;
  height: auto;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  border: none;
  background: none;
}
html .btn-modalbox-close i, body .btn-modalbox-close i {
  color: #fefefe;
}
html .body-content-modalStudent, body .body-content-modalStudent {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}
html .form-modalContent, body .form-modalContent {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
}
html .input-modalBox, body .input-modalBox {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 5px 0px;
}
html .input-modalBox span, body .input-modalBox span {
  padding-left: 20%;
}
html .input-modalBox input, body .input-modalBox input {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 90%;
  padding-left: 8px;
}
html .inputButtonUpdown, html .inputButtonDrop, html .inputButtonDropFull, body .inputButtonUpdown, body .inputButtonDrop, body .inputButtonDropFull {
  position: relative;
  width: 35%;
}
html .inputButtonDrop, body .inputButtonDrop {
  position: static;
  display: flex;
}
html .inputButtonDropFull, body .inputButtonDropFull {
  width: 90%;
  display: flex;
  position: static;
}
html .Modalinput-year, body .Modalinput-year {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}
html .btn-up-input, body .btn-up-input {
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 25px;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
}
html .btn-down-input, body .btn-down-input {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 25px;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
}
html .btn-dropdown-input, body .btn-dropdown-input {
  width: 25px;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  height: 100%;
  position: static;
}
html .box-dropDown, body .box-dropDown {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: none;
}
html .box-dropDown-full, body .box-dropDown-full {
  position: absolute;
  bottom: -200px;
  right: 10%;
  width: 60%;
  height: 200px;
  display: none;
  scroll-snap-type: mandatory;
  overflow: auto;
}
html .box-dropDown button, html .box-dropDown-full button, body .box-dropDown button, body .box-dropDown-full button {
  width: 100%;
  height: 25px;
  border: none;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background-color: #fefefe;
  text-align: start;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
html .box-dropDown button:hover, html .box-dropDown-full button:hover, body .box-dropDown button:hover, body .box-dropDown-full button:hover {
  background-color: #b0bec5;
  font-weight: bold;
}
html .text-btn-teacherName, body .text-btn-teacherName {
  border: 1px solid red;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
html .btn-modal-submit, body .btn-modal-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
html .btn-modal-submit button, body .btn-modal-submit button {
  width: 25%;
  height: 35px;
}
html .form-picture, body .form-picture {
  padding-right: 10px;
  padding-top: 5px;
}
html .img-perview, body .img-perview {
  border: 1px solid black;
  width: 100%;
  height: 180px;
  object-fit: contain;
}
html .input-picture, body .input-picture {
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px 5px;
}
html .input-picture-file, body .input-picture-file {
  width: 100%;
}
html .btn-add-filePicture, body .btn-add-filePicture {
  display: block;
  margin: 10px auto;
}
@media only screen and (max-width: 1024px) {
  html .inputButtonUpdown, html .inputButtonDrop, body .inputButtonUpdown, body .inputButtonDrop {
    width: 60%;
  }
}
@media only screen and (max-width: 720px) {
  html .modal-box-body, body .modal-box-body {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  html .input-modalBox span, html .input-modalBox input, body .input-modalBox span, body .input-modalBox input {
    font-size: 11px;
  }
  html .inputButtonUpdown, html .inputButtonDrop, body .inputButtonUpdown, body .inputButtonDrop {
    width: 60%;
  }
  html .box-dropDown-full, body .box-dropDown-full {
    height: 100px;
    bottom: -100px;
  }
}
html .modalNavSlide, body .modalNavSlide {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 15%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
html .thisBody-modalNavSlide, body .thisBody-modalNavSlide {
  background-color: #fefefe;
  width: 100%;
  height: 0%;
  transition: height 0.75s;
}
html .content-body-modalNavslide, body .content-body-modalNavslide {
  display: none;
}
html .menu-navslide-contentwork, body .menu-navslide-contentwork {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  margin: 10px;
}
html .menu-navslide-contentwork span, body .menu-navslide-contentwork span {
  font-size: 11px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
html .contentwork-year-navslide, html .contentwork-month-navslide,
html .contentwork-group-navslide, html .contentwork-buttonAll-navslide, body .contentwork-year-navslide, body .contentwork-month-navslide,
body .contentwork-group-navslide, body .contentwork-buttonAll-navslide {
  display: flex;
}
html .contentwork-gorup-navsilde, body .contentwork-gorup-navsilde {
  display: flex;
  justify-content: center;
  align-items: center;
}
html .input-group-contentwork-navslide, body .input-group-contentwork-navslide {
  width: 45%;
  height: 100%;
  align-self: center;
}
html .this-month-drop-navslide, html .this-group-drop-navslide, body .this-month-drop-navslide, body .this-group-drop-navslide {
  width: 10%;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
html .this-radiobtn-contentwork-navslide, body .this-radiobtn-contentwork-navslide {
  display: flex;
  border: 1px solid #9e9e9e;
  width: auto;
  height: auto;
  margin: 0 5px;
  justify-content: center;
  align-items: center;
}
@keyframes openSlideNav {
  from {
    height: 0%;
  }
  to {
    height: 20%;
  }
}
@keyframes closeSlideNav {
  from {
    height: 20%;
  }
  to {
    height: 0%;
  }
}
@media only screen and (max-width: 360px) {
  html .modalNavSlide, body .modalNavSlide {
    top: 11%;
  }
  html .menu-navslide-contentwork, body .menu-navslide-contentwork {
    height: 25%;
    margin: 10px;
  }
}
html .table-show-info, body .table-show-info {
  border-collapse: collapse;
  width: 1450px;
  background-color: #fefefe;
  text-align: center;
  font-weight: bold;
  position: relative;
  margin: auto;
}
html .table-show-info thead, body .table-show-info thead {
  text-align: center;
}
html .table-show-info th, body .table-show-info th {
  border: 2px solid black;
  background-color: #607d8b;
  color: #fefefe;
  text-align: center;
}
html .table-show-info td, body .table-show-info td {
  border: 2px solid black;
}
html .table-show-info > tbody > tr:hover td, body .table-show-info > tbody > tr:hover td {
  background-color: #01579b;
  color: #fefefe;
}
html .table-show-info > tbody > tr:nth-child(odd), body .table-show-info > tbody > tr:nth-child(odd) {
  background-color: #e0e0e0;
}

/*# sourceMappingURL=App.css.map */
